.modal {
	display: block;
	pointer-events: none;/*to allow clicking modal-backdrop*/
}
.modal-dialog {
	pointer-events: auto;/*to allow clicking modal-backdrop*/
}

.present.offered .title, .present.offered p {
	text-decoration: line-through;
	color: grey;
}
.present .offered-by, .present .deleted-by {
	font-size: 0.7em;
}
.present.deleted {
	background: #FFF1A9;
}
.present.deleted-by {
	font-weight: bold;
}
.present a {
	float: right;
	margin-left: 0.5em;
}
#command-execution {
	position: fixed;
	top: 0;
	left: 50%;
	width: 300px;
	margin-left: -150px;
	text-align: center;
	border-radius: 0px 0px 2px 2px;
	box-shadow: 0px 0px 5px;
	background: #FFF1A9;
	padding: 0.1em 0.2em;
}
#command-execution > .loading {
	font-style: italic;
}
#deconnection {
	font-size: 14px;
}
#list-select {
	margin-bottom: 1em;
}
