<?xml version="1.0" encoding="utf-8"?>
<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>All</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<servlet>
		<servlet-name>authenticated-jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>oadam.resources.authenticated</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<!--<load-on-startup>1</load-on-startup>-->
	</servlet>
	<filter>
		<filter-name>authentication</filter-name>
		<filter-class>oadam.security.SecurityFilter</filter-class>
	</filter>
	<servlet-mapping>
		<servlet-name>authenticated-jersey</servlet-name>
		<url-pattern>/authenticated-resources/*</url-pattern>
	</servlet-mapping>
	<filter-mapping>
		<filter-name>authentication</filter-name>
		<url-pattern>/authenticated-resources/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>unauthenticated-jersey</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>oadam.resources.unauthenticated</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<!--<load-on-startup>2</load-on-startup>-->
	</servlet>
	<servlet-mapping>
		<servlet-name>unauthenticated-jersey</servlet-name>
		<url-pattern>/unauthenticated-resources/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
